*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	 
} 
body input:required:valid,
body textarea:required:valid {
	
} 
html {
	width: 100%;
	max-width: 100%;
	overflow-x: hidden;
}
body {
	font-family: "LatoRegular";
	font-size: 16px;
	overflow-x: hidden;
	color: #ecf5ff;
	background-color: #2c67ae;
	margin: 0;
		width: 100%;
	max-width: 100%;
	overflow-x: hidden;
}
button {
	cursor: pointer;
}
h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}
.wrapper {
	overflow: hidden;
	position: relative;
}
a {
	text-decoration: none;
	outline: none;
}
* {
	outline: none !important;
}
ul {
	padding: 0;
	margin: 0;
}
ul li {
	list-style-type: none;
	outline: none;
}
img {
	outline: none;
	display: block;
}
p {
	padding: 0;
	margin: 0;
}
.header {
	padding-top: 12px;
	min-height: 168px;
	position: relative;
	background-image: url(../img/bg_header.png);
	background-repeat: no-repeat;
	background-position: center top;
	-webkit-background-size: cover;
	background-size: cover;
}
.menu {
	padding: 0 80px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.menu li a {
	font-size: 18px;
	font-family: "LatoBold";
	color: #fff;
	border-bottom: 1px transparent solid;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.menu li a:hover {
	border-color: #fff;
}
.choose-btn {
	width: 207px;
	height: 113px;
	position: absolute;
	top: 20px;
	left: 60px;
	text-align: center;
	display: inline-block;
	font-family: "PFREMINDERPRO-BOLD";
	animation: jittery 5s infinite;
}
.choose-btn img {
	 filter: drop-shadow(0px 32px 30px rgba(15, 65, 120, 0.3));
}
@keyframes jittery {
	5%,
	50% {
		transform: scale(1);
	}
	10% {
		transform: scale(0.9);
	}
	15% {
		transform: scale(1.15);
	}
	20% {
		transform: scale(1.15) rotate(-5deg);
	}
	25% {
		transform: scale(1.15) rotate(5deg);
	}
	30% {
		transform: scale(1.15) rotate(-3deg);
	}
	35% {
		transform: scale(1.15) rotate(2deg);
	}
	40% {
		transform: scale(1.15) rotate(0);
	}
}
.choose-btn::after {
	position: absolute;
	display: block;
	content: " ";
    top: -11px;
    right: -95px;
    width: 348px;
    height: 167px;
	background-image: url(../img/icon_choose2.svg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.choose-btn__text {
	font-size: 20px;
	color: #fff;
	line-height: 20px;
	max-width: 100px;
	position: absolute;
    top: 33px;
    left: 30px;
}
.btn-search {
	width: 25px;
	height: 25px;
	display: inline-block;
	background-image: url(../img/icon_search.svg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	vertical-align: middle;
}
.btn-question {
	width: 33px;
	height: 33px;
	margin-right: 45px;
	display: inline-block;
	background-image: url(../img/icon_question.svg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	vertical-align: middle;
}
.right-header {
	position: absolute;
	right: 80px;
	top: 35px;
}
.breadcumbs {
	color: #4986d1;
	padding-top: 30px;
	padding-bottom: 43px;
	text-transform: uppercase;
	font-size: 14px;
	font-family: "LatoBold";
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.breadcumbs li {
	margin: 0 8px;
}
.breadcumbs li a {
	color: #9fc9fc;
	border-bottom: 1px transparent solid;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.breadcumbs li a:hover {
	border-color: #9fc9fc;
}
.card-img {
	position: relative;
}
.card-img img {
	max-width: 100%;
	height: auto;
	display: block;
}
.card-img__descr {
	font-size: 14px;
line-height: 30px;
margin-left: 160px;
color: #ECF5FF;
position: relative;
}
.card-img__descr::before {
	position: absolute;
	display: block;
	content: " ";
	width: 59px;
	height: 121px;
	bottom: 100%;
	right: 100%;
	margin-bottom: -13px;
	background-image: url(../img/line_card.svg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.card-img__descr li {
	padding-left: 21px;
	position: relative;
}
.card-img__descr li::before {
	position: absolute;
	display: block;
	content: " ";
	top: 8px;
	left: 0;
	width: 10px;
	height: 10px;
	border: 2px solid #27AEE4;
	border-radius: 50%;
}
.title-section {
	color: #fefefe;
	font-size: 70px;
	line-height: 65px;
	font-family: "PFREMINDERPRO-BOLD";
}
.col_pl {
	padding-left: 0;
}
.text {
	color: #ecf5ff;
	font-size: 18px;
	line-height: 30px;
}
.title-section_card {
	padding-bottom: 60px;
}
.btns-tabs {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}
.btn-tab {
	padding: 0 50px;
	height: 80px;
	margin-right: 20px;
	border-radius: 20px;
	border: 4px solid #245b9d;
	max-width: 100%;
	color: #ecf5ff;
	font-size: 22px;
	line-height: 30px;
	font-family: "PFREMINDERPRO-BOLD";
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
	position: relative;
	z-index: 1;
}
.btn-tab::after {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	bottom: 0;
	margin: auto;
	right: -12px;
	width: 20px;
	height: 20px;
	background-color: #245b9d;
	border: 6px #2c67ae solid;
	border-radius: 50%;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.btn-tab::before {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	bottom: 0;
	margin: auto;
	left: -12px;
	width: 20px;
	height: 20px;
	background-color: #245b9d;
	border: 6px #2c67ae solid;
	border-radius: 50%;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.btn-tab:hover,
.btn-tab.active {
	background-color: #245b9d;
}
.btn-tab:hover::before,
.btn-tab.active::before,
.btn-tab:hover::after,
.btn-tab.active::after {
	opacity: 1;
}
.card__btns {
	padding-top: 82px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.card-feature {
	color: #f5f3ef;
	font-family: "LatoBold";
	font-size: 14px;
	margin-left: auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}
.card-feature img {
	margin-right: 10px;
}
.card-feature span {
	font-size: 20px;
	display: block;
}
@keyframes float-cloud-right {
	from {
		transform: translateX(100%) translateZ(0);
	}
	to {
		transform: translateX(0) translateZ(0);
	}
}
@keyframes float-cloud-left {
	from {
		transform: translateX(-100%) translateZ(0);
	}
	to {
		transform: translateX(0) translateZ(0);
	}
}
.clouds-wrap {
	width: 100%;
	max-width: 100%;
	top: 0;
	left: 0;
	height: 100%;
	overflow: hidden;
	position: absolute;
	pointer-events: none;
	z-index: -2;
}
.cloud {
	position: absolute;
}
.cloud_left {
	animation: float-cloud-left 10s;
}
.cloud_right {
	animation: float-cloud-right 10s;
}
.cloud_1 {
	top: 385px;
	left: -122px;
}
.cloud_2 {
	top: 74px;
	right: -335px;
}
.cloud_3 {
	top: 920px;
	left: -323px;
}
.cloud_4 {
	top: 1620px;
	left: -270px;
}
.cloud_5 {
	top: 832px;
	right: -232px;
}
.cloud_6 {
	top: 2056px;
	right: -175px;
}
.cloud_7 {
	top: 2566px;
	left: -180px;
}
.item-step__number {
	width: 30px;
	height: 30px;
	background-color: #245b9d;
	border-radius: 50%;
	position: absolute;
	top: 30px;
	left: -10px;
	color: #ecf5ff;
	font-family: "PFREMINDERPRO-BOLD";
	font-size: 18px;
	line-height: 30px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
}
.steps-wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.item-step {
	max-width: 170px;
	position: relative;
	color: #ecf5ff;
	line-height: 24px;
}
.item-step__icon {
	height: 65px;
	margin-bottom: 25px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
}
.item-step__icon img {
	max-height: 100%;
	max-width: 100%;
}
.tab-container-step {
	padding-top: 50px;
}
.tab-pane-step {
	display: none;
}
.tab-pane-step:first-of-type {
	display: block;
}
.descr-title {
	font-size: 18px;
	padding-top: 20px;
	line-height: 30px;
}
.card {
	padding-bottom: 100px;
}
.recipes {
	padding-top: 100px;
}
.item-receip {
	padding: 30px;
	padding-top: 335px;
	min-height: 530px;
	width: 290px;
	display: block;
	margin: 0 15px;
	position: relative;
	border-radius: 20px;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}
.item-receip__time {
	color: #2c67ae;
	font-size: 16px;
	border-radius: 20px;
	padding: 10px 10px;
	padding-left: 38px;
	top: 30px;
	left: 30px;
	background-image: url(../img/ic_time.svg);
	background-repeat: no-repeat;
	background-position: 10px center;
	background-color: #ffffff;
	text-transform: uppercase;
	font-family: 'Lato Black';
	position: absolute;
}
.item-receip__category {
	color: #ecf5ff;
	margin-bottom: 25px;
	padding: 10px 20px;
	padding-top: 11px;
	border-radius: 20px;
	background-color: #245b9d;
	font-family: 'Lato Black';
	white-space: nowrap;
	font-size: 16px;
	text-transform: uppercase;
	display: inline-block;
}
.item-receip__text {
	color: #122133;
	font-size: 20px;
	line-height: 26px;
	max-width: 275px;
	font-family: "LatoBold";
	display: block;
}
.item-receip_big {
	width: 600px;
}
.slider-recipes {
	margin-top: 60px;
}
.recipes {
	padding-bottom: 80px;
}
.constructor {
	padding-top: 80px;
	padding-bottom: 105px;
}
.slick-arrow {
	width: 26px;
	height: 48px;
	top: 50%;
}
.slick-prev {
	left: 0;
}
.slick-next {
	right: 0;
}
.slick-arrow::before {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 1;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.slick-arrow::after {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.slick-arrow:hover::before {
	opacity: 0;
}
.slick-arrow:hover::after {
	opacity: 1;
}
.slick-prev::before {
	background-image: url(../img/prev.svg);
}
.slick-next::before {
	background-image: url(../img/next.svg);
}
.slick-prev::after {
	background-image: url(../img/prev_hover.svg);
}
.slick-next::after {
	background-image: url(../img/next_hover.svg);
}
.slider-recipes .slick-prev {
	left: -100px;
}
.slider-recipes .slick-next {
	right: -100px;
}
.wrap-recipes {
	position: relative;
}
.btn-receip {
	width: 266px;
	height: 241px;
	display: inline-block;
	position: absolute;
	top: -190px;
	right: -107px;
	z-index: 2;
	color: #ffffff;
	font-size: 24px;
	line-height: 25.79px;
	background-image: url(../img/icon_btn_receip.svg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
			    -webkit-animation: pulse 1.5s infinite;
	font-family: "PFREMINDERPRO-BOLD";
}
.btn-receip::before {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: url(../img/icon_btn_receip_hover.svg);
	opacity: 0;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.btn-receip:hover::before {
	opacity: 1;
}
.btn-receip span {
	max-width: 130px;
	display: block;
	transform: rotate(25deg);
	position: relative;
	text-align: center;
	left: 95px;
	top: 55px;
}
.constructor .descr-title {
	font-size: 19px;
	padding-top: 30px;
	line-height: 30px;
}
.icon-constructor {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
	position: relative;
}
.icon-constructor img {
	max-width: 100%;
	height: auto;
	display: block;
}
.constructor .title-section {
	padding-top: 34px;
}
.line-dots {
	width: 514px;
	height: 153px;
	position: absolute;
	bottom: 80px;
	right: 100%;
	margin-right: -244px;
	z-index: 2;
}
.line-dots img {
	width: 514px;
	height: 153px;
}
.btn-cloud {
width: 267px;
height: 189px;
	color: #ffffff;
	font-size: 26px;
	padding-top: 70px;
	margin-top: 50px;
	font-family: "PFREMINDERPRO-BOLD";
	line-height: 28px;
	z-index: 1;
	text-align: center;
	display: inline-block;
	position: relative;
}
.btn-cloud::before {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	z-index: -1;
	top: 0;
	left: 0;
	 filter: drop-shadow(0px 20px 30px rgba(15, 65, 120, 0.5));
	background-image: url(../img/btn_cloud2.svg);
	background-repeat: no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	-webkit-animation: pulse 1.5s infinite;
}
@-webkit-keyframes pulse {
	0% {
		-moz-transform: scale(0.9);
		-ms-transform: scale(0.9);
		-webkit-transform: scale(0.9);
		transform: scale(0.9);
	}
	70% {
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-webkit-transform: scale(1);
		transform: scale(1);
		box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
	}
	100% {
		-moz-transform: scale(0.9);
		-ms-transform: scale(0.9);
		-webkit-transform: scale(0.9);
		transform: scale(0.9);
		box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
	}
}
.footer__logo {
	display: inline-block;
}
.footer__logo img {
	max-width: 100%;
	height: auto;
	display: block;
}
.footer {
	padding-top: 35px;
	padding-bottom: 59px;
	color: #fff;
	position: relative;
	z-index: 2;
	background-color: #1D478B;
}
.footer__phone {
	font-size: 18px;
margin: 15px 0;
color: #FEFEFE;
font-family: "LatoBold";
display: inline-block;
-webkit-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s;
}
.footer__descr {
	font-size: 14px;
line-height: 24px;
padding-bottom: 35px;
}
.footer__politics {
	font-size: 14px;
line-height: 24px;
color: #469DDE;
border-bottom: 1px transparent solid;
-webkit-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s;
}
.footer__politics:hover {
	border-color: #469DDE;
}
.footer__nav {
	margin-top: 5px;
	columns: 2;
}
.footer__nav li {
	margin-bottom: 15px;
}
.footer__nav li a {
	font-size: 20px;
	color: #FEFEFE;
	border-bottom: 1px transparent solid;
	display: inline-block;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.footer__nav li a:hover {
	border-color: #FEFEFE;
}
.social-list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}
.social-list li {
	margin-right: 10px;
	display: inline-block;
	vertical-align: middle;
}
.social-list li:last-child {
	margin-right: 0;
}
.social-list li a {
	width: 30px;
height: 30px;
border-radius: 5px;
background: #FFFFFF;
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
align-items: center;
justify-content: center;
}
.footer__right {
	padding-top: 20px;
	padding-left: 70px;
}
.footer__copy {
	margin-top: 82px;
	font-size: 14px;
line-height: 24px;
color: #469DDE;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}
.footer__copy img {
	width: 55px;
	margin-left: 5px;
}


/*constructor*/
.constructor-main {
	padding-bottom: 154px;
}
.constructor-main__name {
	font-size: 18px;
line-height: 30px;
padding-top: 45px;
text-align: center;
color: #ECF5FF;
}
.constructor-main__title {
	font-size: 46px;
line-height: 55px;
padding: 60px 0;
text-align: center;
font-family: "PFREMINDERPRO-BOLD";
color: #FEFEFE;
}
.btn-main {
	background-color: #27AEE4;
border-radius: 20px;
height: 80px;
padding: 0 20px;
font-size: 20px;
color: #fff;
	font-family: "LatoBold";
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.btn-main:hover {
	background-color: #119ad1;
}
.btn-main_width {
	width: 100%;
}
.constructor-main .btn-main_width {
	margin-bottom: 20px;
}
.dots-list  {
	margin-top: 30px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
}
.dots-list__item {
	width: 10px;
height: 10px;
margin: 0 5px;
background: rgba(0, 0, 0, 0.0001);
border: 2px solid #FFFFFF;
border-radius: 50%;
-webkit-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s;
}
.dots-list li.active .dots-list__item {
	background-color: #fff;
}
.shelf {
		width: 514px;
	padding-right: 45px;
	margin-bottom: 75px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	position: relative;
}
.shelf::after {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 54px;
	top: 100%;
	left: 0;
	background-image: url(../img/shelf1.svg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.shelf_6::after,
.shelf_4::after,
.shelf_2::after {
	background-image: url(../img/shelf2.svg);
}
.shelf__item {
	margin-right: 22px;
	position: relative;
}
.shelf__item:last-child {
	margin-right: 0;
}
.shelf__item::before {
	position: absolute;
	display: block;
	content: " ";
	width: 107px;
height: 164px;
top: -7px;
left: -8px;
background-image: url(../img/item_frame.svg);
background-repeat: no-repeat;
background-position: center;
-webkit-background-size: 100% 100%;
background-size: 100% 100%;
}
.shelf-wrap_right .shelf__item::before {
	left: auto;
	right: -8px;
	background-image: url(../img/item_frame2.svg);
}
.shelf__item {
	width: 99px;
	height: 157px;
}
.shelf__item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
}
.shelf-wrap {
	align-items: flex-end;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	position: relative;
}
.shelf_center {
	justify-content: center;
	padding-right: 0;
}
.shelf_3 {
	padding-right: 25px;
}
.shelf-wrap_right {
	align-items: flex-start;
}
.shelf-wrap_right .shelf {
	padding-left: 25px;
	justify-content: flex-start;
	padding-right: 0;
}
.shelf-wrap_right .shelf_center {
	justify-content: center;
}
.shelf-wrap {
	margin-top: 30px;
}
.shelf-icon {
		position: absolute;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}
.shelf-icon_1 {
	width: 96px;
	height: 107px;
	bottom: 0;
	left: 0;
	background-image: url(../img/icon_shelf1.svg);
}
.shelf-icon_2 {
	width: 75px;
	height: 130px;
bottom: -133px;
    right: -8px;
	background-image: url(../img/icon_shelf2.svg);
}
.shelf-icon_3 {
	width: 87px;
	height: 80px;
bottom: 0;
left: 0;
	background-image: url(../img/icon_shelf3.svg);
}
.shelf-icon_4 {
	width: 68px;
	height: 71px;
    bottom: -1px;
    right: 10px;
	background-image: url(../img/icon_shelf4.svg);
}
.shelf-icon_5 {
	width: 49px;
	height: 61px;
    bottom: -1px;
    left: 10px;
	background-image: url(../img/icon_shelf5.svg);
}
.shelf-icon_6 {
	width: 142px;
	height: 99px;
    bottom: -1px;
    right: -10px;
	background-image: url(../img/icon_shelf6.svg);
}

/*recepts*/
.recept__descr {
	font-size: 18px;
line-height: 30px;
padding-bottom: 25px;
color: #ECF5FF;
}
.recept-left__image {
	margin-bottom: 30px;
}
.recept-left__image img {
	max-width: 189px;
	height: auto;
	display: block;
}
.recept-value-wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: flex-start;
}
.recept-value {
	width: 112px;
	font-size: 18px;
line-height: 30px;
border-radius: 20px;
padding-bottom: 13px;
margin-right: 15px;
text-align: center;
font-family: "LatoBold";
	background: #245B9D;
	display: inline-block;
	vertical-align: top;
}
.recept-value:last-child {
	margin: 0;
}
.recept-value__icon {
	height: 69px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
}
.consist-block  {
	font-size: 18px;
color: #ECF5FF;
padding: 90px 60px;
padding-bottom: 20px;
max-width: 410px;
background-image: url(../img/bg_consist.svg);
background-repeat: no-repeat;
background-position: center;
-webkit-background-size: 100% 100%;
background-size: 100% 100%;
}
.consist-block li {
	padding-left: 28px;
	margin-bottom: 25px;
	position: relative;
}
.consist-block li::before { 
	position: absolute;
	display: block;
	content: " ";
	width: 10px;
	height: 10px;
	border-radius: 50%;
	top: 5px;
	left: 0;
background: rgba(0, 0, 0, 0.0001);
border: 5px solid #27AEE4;
}
.recept .title-section {
	padding-bottom: 44px;
}
.recept-film {
	width: 575px;
	margin-left: 15px;
	padding: 0 90px;
	position: relative;
	background-image: url(../img/bg_film.svg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}
.consist-block,
.recept-left {
	position: relative;
}
.recept-left::after {
	position: absolute;
	display: block;
	content: " ";
	width: 35px;
	height: 32px;
left: 87%;
    top: 182px;
	background-image: url(../img/plus.svg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.consist-block::after {
	position: absolute;
	display: block;
	content: " ";
	width: 39px;
	height: 16px;
left: 99%;
    top: 182px;
	background-image: url(../img/equally.svg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.slider-steps__image {
	height: 532px;
		border-radius: 20px;
}
.slider-steps__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
		border-radius: 20px;
}
.slider-steps .title-section {
	padding-top: 55px;
	padding-bottom: 42px;
}
.slider-steps .text {
	max-width: 420px;
}
.item-step__right {
	padding-bottom: 150px;
	padding-left: 105px;
}
.slider-steps .slick-arrow {
	bottom: 30px;
	top: auto;
	left: 235px;
	right: 0;
	margin: 0 auto;
	transform: none;
}
.slider-steps .slick-next {
	left: 400px;
}
.steps {
	padding-top: 120px;
	padding-bottom: 60px;
}
.recept-film .btn-cloud {
	top: 46px;
	left: 0;
	padding-top: 87px;
	padding-left: 30px;
	padding-right: 30px;
	position: absolute;
}
.recept-film .btn-cloud::after {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: url(../img/ic_play.svg);
	background-repeat: no-repeat;
	background-position: center 43px;
	-webkit-background-size: inherit;
	background-size: inherit;
}

/*recept list*/
.item-form__descr {
	font-size: 14px;
line-height: 17px;
top: 18px;
left: 32px;
position: absolute;
pointer-events: none;
color: #FEFEFE;
z-index: 400;
}
.item-form {
	position: relative;
}
input.js-range-slider,
select {
	opacity: 0;
}
.jqselect {
	width: 100%;
}
.jq-selectbox__select-text,
.item-form select {
	height: 90px;
	font-size: 20px;
line-height: 24px;
color: #FEFEFE;
	width: 100%;
	padding: 0 30px;
	cursor: pointer;
	padding-top: 10px;
	background-color: #2c67ae;
	border-radius: 22px;
	font-family: "LatoRegular";
	background-image: url(../img/arrow_select.svg);
	background-repeat: no-repeat;
	background-position: center right 28px;
	border: 2px solid #548DD1;
		-ms-appearance: none;
	appearance: none!important;
	-moz-appearance: none;
	-webkit-appearance: none;
}
.jq-selectbox__dropdown li {
	padding: 5px 20px;
	cursor: pointer;
	border-bottom: 1px rgba(255, 255, 255, 0.4) solid;
}
.jq-selectbox__select-text {
	padding-top: 35px;
	padding-bottom: 24px;
	height: auto;
}
.jq-selectbox__dropdown {
	width: 100%;
	padding: 20px 0;
	border-radius: 22px;
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
	        background-color: #2c67ae;
}
 option {
        background-color: #2c67ae;
    }
select::-ms-expand {
	display: none;
}
.title-section_center {
	padding-bottom: 60px;
	text-align: center;
}
.irs--flat .irs-line {
	height: 5px;
	background-color: rgba(255, 255, 255, 0.2);
}
.irs--flat .irs-bar {
	height: 5px;
	background-color: #fff;
}
.irs--flat .irs-handle {
	width: 46px;
	height: 50px;
	top: 3px;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	cursor: pointer;
}
.irs-handle.from {
	background-image: url(../img/range_prev.svg);
}
.irs-handle.to {
	background-image: url(../img/range_next.svg);
}
.irs--flat .irs-handle>i {
	display: none !important;
}
.irs-from, .irs-to, .irs-single {
	top: 46px;
	z-index: 40;
	font-size: 20px !important;
	background-color: transparent !important;
}
.irs-grid,
.irs--flat .irs-grid-text,
.irs--flat .irs-from:before, .irs--flat .irs-to:before, .irs--flat .irs-single:before {
	display: none !important;
}
.irs--flat .irs-min, .irs--flat .irs-max {
	font-size: 20px;
	line-height: 24px;
	top: 43px;
	background-color: transparent;
	color: #548DD1;
}
.irs--flat .irs-min::before {
	content: "от ";
}
.irs--flat .irs-max::before {
	content: "до ";
}
.news .btns-tabs {
	justify-content: center;
}
.item-article {
	margin-bottom: 92px;
	display: block;
	max-width: 570px;
	color: #fff;
}
.item-article__image {
	height: 260px;
	border-radius: 20px;
	overflow: hidden;
	display: block;
	position: relative;
}
.item-article__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center top;
	font-family: 'object-fit: cover;';
		border-radius: 20px;
}
.item-article__tag {
	font-size: 10px;
line-height: 12px;
padding: 6px 15px;
border-radius: 27px;
top: 30px;
left: 30px;
position: absolute;
text-transform: uppercase;
}
.item-article__tag_new {
	background-color: #E0A73A;
}
.item-article__tag_relise {
	background-color: #1E65C6;
}
.item-article__date {
	font-size: 10px;
line-height: 12px;
padding-top: 30px;
padding-bottom: 10px;
display: block;
text-transform: uppercase;
font-family: "LatoBold";
}
.item-article__title {
	font-size: 20px;
line-height: 26px;
padding-bottom: 20px;
font-family: "LatoBold";
display: block;
}
.item-article__text {
	font-size: 16px;
line-height: 26px;
display: block;
}
.articles-wrap .title-section {
	padding-bottom: 47px;
}
.articles-wrap {
	padding-top: 70px;
	margin-top: 100px;
	position: relative;
z-index: 1;
}
.articles-wrap::before {
	position: absolute;
	display: block;
	content: " ";
	width: 1719px;
	height: 1378px;
	top: -25px;
	left: 50%;
		background-image: url(../img/bg_articles2.png);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	z-index: -1;
	pointer-events: none;
	-webkit-transform: translateX(-50%);
-ms-transform: translateX(-50%); 
transform: translateX(-50%);
}
.news {
	padding-bottom: 30px;
}
.row_articles {
	justify-content: space-between;
}
.col_left-auto {
	margin-left: auto;
}
.col_right-auto {
	margin-right: auto;
}
.row_articles > div {
	max-width: 570px;
}
.row_articles > .col-lg-3 {
	max-width: 270px;
}
.col-lg-6 .col-lg-6 .item-article {
	max-width: 270px;
}
.row_articles .row {
	margin: 0 -10px;
	max-width: 583px;
}
.row_articles .row > div {
	padding: 0 10px;
}
/* arrow */

.arrow {
    background-color: #2c67ae;

}

.arrow-buttons {
	margin-top: 100px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
}
.arrow-prev {
    display: inline-block;
    transition: .4s all;

}
.arrow-next {
    display: inline-block;
    transition: .4s all;
}

.arrow-prev:hover {
    transform: scale(1.1);
  
}

.arrow-next:hover {
    transform: scale(1.1);  
}
/* soft */

.soft {
    padding: 0px 0px 138px 0px;
    
}

.soft-month {
    margin: 0px 0px 15px 0px;
    text-align: center;
    color: #ffffff;
    font-family: 'LatoBold', sans-serif;
    font-size: 10px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
}

.main-text {
    margin: 0px 0px 35px 0px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* eating */

.eating {
    padding: 0px 0px 70px 0px;
    position: relative;
   
}

.eating-slider {
	padding-top: 40px;
	margin-top: 60px;
    position: relative;
    margin-bottom: 70px;
}

.eating-slider__img {
    position: relative;
}
.eating-slider__img img {
		width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
		border-radius: 20px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.slick-slide:not(.slick-current) .eatig-slider-text {
	opacity: 0;
}
.slick-slide:not(.slick-current) .eating-slider__img {
		height: 383px;
}
.slick-slide:not(.slick-current) .eating-slider__img img {
	opacity: 0.2;
	transform: scale(0.6);
	      transform: scale(0.7) translateX(480px) translateY(50px) rotateY(26deg) perspective(400px) rotateY(9deg);
}
.slick-current .eating-slider__img  {
	width: 850px;

	position: relative;
	z-index: 3;
}
.slick-current + .slick-slide  .eating-slider__img img {
    transform: scale(0.7) translateX(-480px) translateY(50px) rotateY(26deg) perspective(400px) rotateY(-15deg);
}
.eating-slider:before {
    position: absolute;
    display: block;
    content: "";
    background: url('../img/before_slider.svg') ;
    width: 38px;
    height: 44px;
   top: 0;
   right: 185px;
}
.eating-slider:after {
    position: absolute;
    display: block;
    content: "";
    background: url('../img/after_slider.svg') ;
    width: 38px;
    height: 44px;
   bottom: 36px;
   left: 185px;
}

.eating-slider .slick-prev {
	left: -80px;
}
.eating-slider .slick-next {
	right: -80px;
}

.eating-prev {
    cursor: pointer;
    transition: .3s all;
   position: absolute;
   top: 35%;
   left: 10%;
   
}
.eating-next {
    cursor: pointer;
    transition: .3s all;
    position: absolute;
    top: 35%;
    right: 10%;

}

.eating-prev:hover {
    transform: scale(1.1);

}

.eating-next:hover {
    transform: scale(1.1);

}

.eatig-slider-text {
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    padding-top: 30px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    
}

/* buyer */

.buyer {
    padding: 0px 0px 0px 0px;
}
.container {
}
.buyer-text {
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
   
}
.main-text {
}
.row {
}
.col-lg-2 {
}
.offset-1 {
}
.image-buyer {
	margin-bottom: 20px;
	display: inline-block;
	position: relative;
}
.image-buyer img {
	width: 193px;
	height: 193px;
	border-radius: 50%;
}
.image-buyer::before {
	position: absolute;
	display: block;
	content: " ";
	width: 141px;
	height: 112px;
left: -24px;
    top: -38px;
	background-image: url(../img/before_buyer.svg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.image-buyer::after {
	position: absolute;
	display: block;
	content: " ";
	width: 38px;
	height: 51px;
right: 0px;
    bottom: -20px;
	background-image: url(../img/after_buyer.svg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.buyer-name {
    margin: 0px 0px 16px 0px;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.col-lg-7 {
}
.buyer-descr {

    color: #ffffff;
font-family: "PFREMINDERPRO-BOLD";
font-size: 30px;
font-weight: 700;
line-height: 40px;
max-width: 745px;
margin: 0px 0px 29px 0px;

}
.descr-text {
  
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* data */

.data {
    position: relative;
    padding: 104px 0px 110px 0px;
}

 .data .line {
     position: relative;
     max-width: 100%;
     padding: 0px 0px 30px 0px;
     border-bottom: 2px solid #fff;

}

.data .line:before {
    position: absolute;
    bottom: -2px;
    left: 25px;
    margin: -2px 0px 0px 0px;
    content: "";
    width: 10px;
    height: 3px;
    background-color: #2c67ae;

}

.data .line:after {
    position: absolute;
    bottom: -2px;
    right: 25px;
    margin: -2px 0px 0px 0px;
    content: "";
    width: 10px;
    height: 3px;
    background-color: #2c67ae;

}
.data .title-section {
	padding-bottom: 20px;
}

.data-text {
    margin: 27px 0px 0px 0px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.col-lg-8 .row:before {
    content: "";
    display: none;

}

.col-lg-8 .row:after {
    content: "";
    display: none;
}
.data-subtitle {
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    padding-bottom: 35px;
    font-weight: 400;
    line-height: 30px;
}
.data-wrapper__title {
	font-size: 20px;
line-height: 30px;
padding-bottom: 35px;
margin-bottom: 25px;
font-family: "LatoBold";
border-bottom: 2px #fff solid;
position: relative;
}
.data-wrapper__left .data-wrapper__title::before {
	position: absolute;
	display: block;
	content: " ";
    left: -24px;
    width: 16px;
    height: 2px;
    bottom: -2px;
	background-color: #fff;
}
.data-wrapper__right .data-wrapper__title::before {
	position: absolute;
	display: block;
	content: " ";
    right: -24px;
    width: 16px;
    height: 2px;
    bottom: -2px;
	background-color: #fff;
}
.data-wrapper__right > div,
.data-wrapper__left > div {
	padding-left: 85px;
	padding-right: 30px;
}
.data-wrapper > .row > div {
	padding: 0;
}
.data-wrapper .row 
.data-wrapper__text {
	font-size: 18px;
line-height: 30px;
}
.data-wrapper {
	padding: 0 40px;
	position: relative;

}
.data-wrapper__bottom {
	position: relative;
	margin: 0 -15px;
	margin-top: 40px;
	padding-top: 66px;
	border-top: 2px #fff solid;	
}
.data-wrapper__bottom::before {
	position: absolute;
	display: block;
	content: " ";
    left: -24px;
    width: 16px;
    height: 2px;
    top: -2px;
	background-color: #fff;
}
.data-wrapper__bottom::after {
	position: absolute;
	display: block;
	content: " ";
    right: -24px;
    width: 16px;
    height: 2px;
    top: -2px;
	background-color: #fff;
}
/* quality */

.quality {
    position: relative;
    padding: 107px 0px 122px 0px;
}

.data-title {
    margin: 0;
    margin: 0px 0px 13px 0px;
}


.list-items {
    padding: 0px 0px 0px 0px;
}
.list-items li {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    padding-left: 32px;
    line-height: 30px;
    position: relative;
}

.list-items li:before {
    position: absolute;
    left: 0px;
    top: -2px;
    content: "";
    width: 10px;
    height: 10px;
    border: 2px solid #27aee4;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    margin: 12px 0px 0px 0px;
}
.text {
    font-size: 20px;
}
.list-items_numbers {
	counter-reset: my-awesome-counter;
}
.list-items_numbers li {
	 counter-increment: my-awesome-counter;
}
.list-items_numbers li::before {
  content: counter(my-awesome-counter) ". ";
font-size: 22px;
line-height: 30px;
width: auto;
height: auto;
border: none;
top: -12px;
font-family: "PFREMINDERPRO-BOLD";
}
/* start */

.start {
    padding: 0px 0px 172px 0px;
}
.container {
}
.back-detale {
	padding-top: 50px;
	text-align: center;
}
.back-detale .btn-cloud {
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;
}
.row_buyer {
	padding-top: 70px;
}
.wrap-range__title {
	font-size: 14px;
line-height: 17px;
}
.wrap-range {
	margin-top: 35px;
	margin-bottom: 75px;
}
.row_recipes .item-receip {
	margin: 0;
	width: 100%;
	max-width: 100%;
	margin-bottom: 33px;
}
.more-recipes {
	text-align: center;
}

.title-min {
	font-size: 26px;
line-height: 30px;
padding-bottom: 10px;
text-align: center;
font-family: "PFREMINDERPRO-BOLD";
}
.history .title-section_center {
	padding-bottom: 28px;
}
.text-page_center {
	text-align: center;
}
.text-page {
	font-size: 18px;
	line-height: 30px;
}
.item-history__image {
	height: 575px;
	margin-bottom: 37px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url(../img/bg_history.svg);
	background-repeat: no-repeat;
	background-position: center;
}
.item-history__image img {
	max-height: 388px;
	max-width: 100%;
}
.item-history .text-page {
	max-width: 550px;
	margin: 0 auto;
}
.history {
	padding-bottom: 67px;
}
.item-year {
	font-size: 22px;
line-height: 26px;
height: 150px;
padding-top: 25px;
margin-top: 35px;
cursor: pointer;
position: relative;
color: rgba(255, 255, 255, 0.2);
	text-align: center;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	font-family: "PFREMINDERPRO-BOLD";
}
.item-year::before {
	position: absolute;
	display: block;
	content: " ";
	top: -30px;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 30px;
height: 30px;
border-radius: 50%;
background: #2C67AE;
border: 4px solid #5685BE;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.item-year::after {
	position: absolute;
	display: block;
	content: " ";
	top: -33px;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 34px;
height: 48px;
opacity: 0;
	background-image: url(../img/active_year.svg);
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.slick-current .item-year::after {
	opacity: 1;
}
.slick-current .item-year::before {
	opacity: 0;
}
.slider-years {
	margin-top: 45px;
	position: relative;
}
.slick-active + .slick-active .item-year {
	color: rgba(255, 255, 255, 1);
}
.slick-current + .slick-active + .slick-active .item-year {
	color: rgba(255, 255, 255, 0.2);
}
.slider-years::before {
	position: absolute;
	display: block;
	content: " ";
	top: 20px;
	left: 0;
	width: 100%;
	height: 3px;
	opacity: 0.2;
background-color: #fff;
border-radius: 2px;
}
.slick-current .item-year  {
	font-size: 70px;
line-height: 60px;
color: rgba(255, 255, 255, 1);
}
.slider-years .slick-prev {
	left: -100px;
}
.slider-years .slick-next {
	right: -100px;
}
.slider-years .slick-arrow {
	top: 65%;
}
.slider-history {
	margin-top: 60px;
}
.health__image img {
	max-width: 100%;
	height: auto;
	display: block;
}
.text-page p {
	margin-bottom: 15px;
}
.text-page p:last-child {
	margin: 0;
}
.health .title-section {
	padding-top: 180px;
	padding-bottom: 50px;
}
.cloud_4_1920 {
	left: -300px;
}
.cloud_5_1920 {
	right: -250px;
}
.news .btn-tab {
	font-size: 20px;
	font-family: "LatoRegular";
}
.tabs-catalog {
	font-size: 22px;
line-height: 30px;
padding-bottom: 110px;
font-family: "PFREMINDERPRO-BOLD";
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
}
.tabs-catalog li {
	margin: 0 15px;
}
.tabs-catalog li a {
	width: 211px;
	height: 80px;
	background-color: rgba(0, 0, 0, 0.0001);
border: 4px solid #245B9D;
color: #fff;
border-radius: 25px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.tabs-catalog li a:hover {
	background-color: #245B9D;
}
.item-catalog {
	width: 410px;
	height: 240px;
	max-width: 100%;
	padding-top: 40px;
	padding-left: 220px;
	padding-right: 22px;
	margin: 0 auto;
	color: #fff;
	display: block;
	margin-bottom: 80px;
	background-image: url(../img/bg_catalog.png);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	position: relative;
	z-index: 2;
}
.item-catalog::before {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../img/bg_catalog.png);
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.item-catalog::after {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	opacity: 0;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../img/bg_catalog2.png);
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.item-catalog:hover::after {
	opacity: 1;
}
.item-catalog:hover::before {
	opacity: 0;
}
.item-catalog__name {
	font-family: "PFREMINDERPRO-BOLD";
	display: block;
	margin-bottom: 35px;
	font-size: 24px;
line-height: 30px;
}
.item-catalog__image {
	position: absolute;
	bottom: 60px;
	left: 40px;
	display: inline-block;
}
.item-catalog__image img {
	max-width: 137px;
	max-height: 230px;
	display: block;
}
.item-catalog__features {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}
.feature-catalog {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}
.feature-catalog__value {
	font-size: 12px;
line-height: 14px;
display: block;
font-family: "LatoBold";
}
.feature-catalog__value span {
	font-size: 16px;
line-height: 19px;
	display: block;
}
.feature-catalog {
	margin-right: 25px;
}
.feature-catalog:last-child {
	margin-right: 0;
}
.feature-catalog img {
	margin-right: 10px;
}
.catalog-list .btn-cloud {
	margin: 0 auto;
}
.align_center {
	text-align: center;
}
.catalog-list {
	padding-top: 15px;
	padding-bottom: 40px;
}