/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1800px) {
.menu {
	padding: 0 150px;
}
.choose-btn {
	left: 5px;
}
.right-header {
	right: 50px; 
}
.articles-wrap::before {
	width: 1583px;
}
.cloud_4_1600 {
	    left: -340px;
}
.cloud_5 {
    right: -356px;
}
.cloud_4_1920 {
    left: -410px;
}
.cloud_6 {
	right: -377px;
} 
.cloud_4 {
	left: -400px;
}
}
@media only screen and (max-width : 1635px) {
.cloud_1 {
	left: -240px;
}
.cloud_5 {
	right: -310px;
}
.cloud_5 {
    right: -351px;
}
}
@media only screen and (max-width : 1585px) {
.menu {
    padding: 0 170px;
}
.menu img {
	width: 150px;
	height: auto;
}
@keyframes jittery {
	5%,
	50% {
		transform: scale(1);
	}
	10% {
		transform: scale(0.9);
	}
	15% {
		transform: scale(1.1);
	}
	20% {
		transform: scale(1.1) rotate(-5deg);
	}
	25% {
		transform: scale(1.1) rotate(5deg);
	}
	30% {
		transform: scale(1.1) rotate(-3deg);
	}
	35% {
		transform: scale(1.1) rotate(2deg);
	}
	40% {
		transform: scale(1.1) rotate(0);
	}
}
.slider-recipes .slick-prev {
	left: -60px;
}
.slider-recipes .slick-next {
	right: -60px;
}
.cloud_6 {
    right: -365px;
}
}
@media only screen and (max-width : 1450px) {
.menu {
    padding: 0 215px;
}
.btn-receip {
	right: 0px;
	top: -210px;
    transform: rotate(-22deg) !important;
}
.hidden_1440 {
	display: none !important;
}
.articles-wrap::before {
    width: 1429px;
}
.articles-wrap {
	padding-left: 20px;
	padding-right: 20px;
}
.btn-receip {
	width: 267px;
height: 189px;
    top: -183px;
    right: 0;
 filter: drop-shadow(0px 20px 30px rgba(15, 65, 120, 0.5));
background-image: url(../img/icon_btn_receip_tablet.svg);
transform: none !important;
}
.btn-receip::before {
	display: none;
}
.btn-receip span {
	    left: 70px;
    top: 65px;
    transform: none;
    }
    .descr-title {
    font-size: 16px;
    padding-top: 10px;
    line-height: 30px;
}
}
@media only screen and (max-width : 1380px) {
.choose-btn {
	top: 48px;
}
.clouds-wrap {
	display: none;
}
.articles-wrap::before {
    width: 1360px;
}
.articles-wrap {
	padding-left: 40px;
	padding-right: 40px;
}
.row_articles > div:nth-child(even) {
    padding-left: 40px;
}
.slider-recipes .slick-prev {
	left: -28px;
}
.slider-recipes .slick-next {
	right: -28px;
}
.recept-film {
	width: 525px;
}
}
@media only screen and (max-width : 1290px) and (min-width : 1200px) {
	.shelf_center {
		 padding-left: 70px;
	}
	.shelf-wrap_right .shelf_center {
		padding-right: 90px;
	}
}
@media only screen and (max-width : 1290px) {
	.articles-wrap::before {
    width: 1277px;
}
.articles-wrap {
    padding-left: 75px;
    padding-right: 75px;
}
.row_articles > div:nth-child(even) {
	padding-left: 35px;
	}
	 .slider-recipes .slick-prev {
	left: 5px;
}
.slider-recipes .slick-next {
	right: 5px;
}
.item-receip {
	margin: 0 11px;
}
.recept-film {
    width: 490px;
}
.always-img {
	left: 0;
}

}
@media only screen and (max-width : 1340px) {
.col_right-choise {
	left: 0;
}
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
.menu {
    padding: 0 85px;
    position: relative;
    z-index: 1;
}
.container {
    max-width: 1000px;
}
.choose-btn::after {
	display: none;
}
.right-header {
	width: 100%;
	left: 0;
	right: 0;
	padding: 0 30px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.right-header * {
	margin: 0;
	position: relative;
	z-index: 2;
}
.choose-btn {
    top: 74px;
    left: 26px;
}
.choose-btn__text {
    top: 33px;
    left: 44px;
}
.title-section {
	font-size: 60px;
	line-height: 65px;
}
.title-section_card {
	padding-bottom: 20px;
}
.text {
	font-size: 16px;
}
.cloud  {
	display: none;
}
.card-feature {
	margin: 0;
	margin-right: 40px;
	-webkit-order: -1;
	-moz-order: -1;
	-ms-order: -1;
	-o-order: -1;
	order: -1;
}
.btns-tabs {
	margin-top: 40px;
}
.card__btns {
	padding-top: 40px;
}
.card-img__descr {
    margin-left: 65px;
    margin-top: 58px;
    }
    .item-step {
    max-width: 151px;
}
.card {
	padding-bottom: 50px;
}
.recipes {
	padding-top: 40px;
}
.slider-recipes {
	margin-top: 40px;
}
.item-receip {
	;padding-left: 15px;
	padding-right: 15px;
	padding-right: 8px;
	width: 225px;
}
.item-receip__time {
	font-size: 14px;
}
.item-receip_big {
	width: 480px;
}
.item-receip__text {
	font-size: 18px;
}
.item-receip__category {
	font-size: 14px;
	line-height: 20px;
	padding-left: 8px;
	padding-right: 8px;
}

.item-receip {
	margin: 0 10px;
}
.slider-recipes  {
	padding-bottom: 95px;
}
.slider-recipes .slick-arrow {
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: auto;
	transform: none;
}
.slider-recipes .slick-prev {
	left: -100px;
}
.slider-recipes .slick-next {
	right: -100px;
}
.recipes {
	padding-bottom: 40px;
}
.constructor {
	padding-top: 40px;
}
.constructor .title-section {
    padding-top: 0;
}
.constructor .descr-title {
    font-size: 16px;
    padding-top: 13px;
}
.line-dots {
width: 318px;
    height: 180px;
    bottom: -51px;
    margin-right: -86px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line-dots img {
	max-width: inherit;
}
.hidden_tablet {
	display: none !important;
}
.footer__phone {
	margin-top: 25px;
}
.footer__logo img {
	width: 183px;
}
.footer__nav {
	margin-top: 35px;
	margin-bottom: 21px;
}
.footer__right {
	padding: 0;
	padding-top: 37px;
}
.footer__copy {
    margin-top: 110px;
    }
    .title-section_recept {
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 960px;
    }
    .col_stat {
    	position: static;
    }
    .container_recept {
    	position: relative;
    	padding-top: 200px;
    }
   
    .recept-film {
    	width: 465px;
    	height: 620px;
    	padding: 0 55px;
    	margin-left: 0;
    }
     .recept-film img {
     	max-height: 100%;
     	margin: 0 auto;
     }
     .recept-film .btn-cloud {
    top: -73px;
    left: -55px;
}
.recept-left {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
}
.recept-left > .recept__descr {
	padding-top: 5px;
	width: 100%;
}
.recept-left__table-block {
	padding-left: 20px;
	max-width: 50%;
}
.recept-left__image {
	margin: 0;
	max-width: 50%;
}
.item-step__right {
    padding-bottom: 115px;
    padding-left: 60px;
}
.slider-steps .slick-arrow {
	left: 160px;
}
.slider-steps .slick-next {
    left: 365px;
}
.constructor-main_center {
	-webkit-order: -1;
	-moz-order: -1;
	-ms-order: -1;
	-o-order: -1;
	order: -1;
}
.constructor-main__title {
    font-size: 36px;
    line-height: 43px;
    padding-top: 10px;
    padding-bottom: 40px;
    }
    .row_buttons-constructor {
    	padding: 0 60px;
    }
    .constructor-main__name {
    	padding-top: 30px;
    	padding-bottom: 20px;
    }
    .shelf-wrap {
    margin-top: 40px;
}
.constructor-main {
	padding-bottom: 100px;
}
.constructor-main__name {
    padding-top: 0;
}
.item-article__image {
	height: 190px;
}
.item-article {
	max-width: 420px;
	margin-bottom: 45px;
}
.item-article__text br {
	display: none;
}
.articles-wrap::before {
    width: 1015px;
    height: 1215px;
    top: 3px;
}
.articles-wrap .title-section {
	font-size: 50px;
}
    .news .btns-tabs {
    	margin-top: 10px;
    }
    .articles-wrap {
    	margin-top: 45px;
    }
    .item-article__tag {
    	top: 10px;
    	left: 10px;
    }
    .eating-slider {
    	margin-left: -30px;
    	margin-right: -30px;
    }
    .eating-slider:before {
    	right: 70px;
    }
    .eating-slider:after {
    	left: 70px;
    }
    .descr-text br {
    	display: none;
    }
    .data {
    	padding-top: 60px;
    }
    .data-wrapper__right > div, .data-wrapper__left > div {
    padding-left: 15px;
    padding-right: 15px;
}
.data-wrapper__right > div {
	padding-left: 45px;
	padding-right: 0;
}
.news-detale {
	padding-bottom: 40px;
}
.eating-slider .slick-prev {
	left: 20px;
}
.eating-slider .slick-next {
	right: 20px;
}
.slider-years .slick-arrow {
	bottom: -60px;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: auto;
}
.slider-years .slick-prev {
	left: -100px;
}
.slider-years .slick-next {
	right: -100px;
}
.health .title-section {
    padding-top: 115px;
    }
    .health .btn-cloud {
    	margin-top: 20px;
    }
    .health {
    	padding-bottom: 50px;
    }
    .dots-list {
    	margin-top: 0;
    	margin-top: -10px;
    }
    .item-catalog__image img {
    max-width: 91px;
    max-height: 150px;
}
.item-catalog__image {
    bottom: 83px;
    left: 20px;
    }
    .item-catalog {
    width: 410px;
    height: 220px;
    max-width: 100%;
    padding-top: 28px;
    padding-left: 124px;
    padding-right: 22px;
        margin-bottom: 45px;
    }
.contacts .list-items li {
	font-size: 16px;
}   
.always-img {
	left: -30px;
}
.always-img img {
	max-width: 355px;
}
.always-text {
	max-width: 590px;
}
.always .title-section {
    padding-top: 85px;
    padding-bottom: 45px;
}
.location-address {
	font-size: 16px;
}
.item-location {
	margin-bottom: 22px;
}
.location {
	padding-bottom: 140px;
}
.steps {
	padding-top: 65px;
}
.title-section_choise::after {
    width: 229px;
    height: 189px;
    bottom: -25px;
    left: 117px;
    background-size: 100%;
}
.btn-cloud_constructor {
	top: 219px;
}
.choice-text {
    max-width: 370px;
}

}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.btn-question,
	.choose-btn,
.menu {
	display: none;
}
.logo-mobile {
	display: inline-block;
}
.btn-menu {
	width: 18px;
	height: 15px;
	display: inline-block;
	cursor: pointer;
	background-image: url(../img/icon_menu.svg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.right-header {
	padding: 0 15px;
	position: relative;	
	top: 0;	
}
.header {
    padding-top: 9px;
    min-height: 145px;
    }
    .breadcumbs {
    	display: none;	
    }
    .card-img {
    	padding-right: 130px;
    	position: relative;
    }
    .card-feature {
    	margin: 0;
    	margin-bottom: 13px;
    }
    .card-features {
	position: absolute;
	top: 0;
	right: 0;
}
   .card-img .card-img__descr {
    	display: none;	
    }
    .title-section {
    	font-size: 28px;	
    	line-height: 40px;	
    }
    .col_pl {
    	padding-left: 15px;	
    }
    .text {
    	font-size: 14px;
    	line-height: 20px;
    }
    .title-section_card {
    	padding-top: 20px;	
    }
    .steps-wrap {
    	flex-wrap: wrap;
    }
    .item-step {
    	font-size: 12px;	
    	line-height: 15px;
    	margin-bottom: 20px;	
    	width: 50%;	
    }
    .card__btns {
    	display: none;	
    }
    .card-img__descr {
    	margin: 0;
    	margin-top: 40px;
    }
    .card-img__descr::before {
    	display: none;
    }
    .item-receip {
    	padding-top: 235px;
    	width: 100%;
    	min-height: 420px;
    	margin: 0;
    }
    .item-receip__category {
    	padding: 10px 20px;
    }
    .btn-receip {
    	top: 0;
    	left: 0;
    	right: 0;
    	margin: 0 auto;
    	display: block;
    	margin-top: 20px;
    	position: relative;
    }
    .slider-recipes {
    	margin-top: 20px;
    	padding-bottom: 0;
    }
    .slider-recipes .slick-arrow {
    	top: 50%;
    	margin-top: -30px;
    }
    .slider-recipes .slick-prev {
    	left: -10px;
    	right: auto;
    }
    .slider-recipes .slick-next {
    	right: -10px;
    	left: auto;
    }
    .recipes {
    padding-bottom: 0;
}
.footer__logo img {
    width: 160px;
}
.btn-cloud {
	margin: 0 auto;
	display: block;
	margin-top: 20px;	
}
.constructor {
	padding-bottom: 60px;
}
.footer__descr {
	padding-bottom: 0;
}
.footer__politics {
	position: absolute;
	bottom: -90px;
	left: 15px;
}
.footer__nav {
	margin-bottom: 0;
}
.footer__right {
	padding-top: 12px;
}
.footer__copy {
    margin-top: 75px;
}
.footer {
	padding-bottom: 50px;
}
.card {
	padding-top: 10px;
	padding-bottom: 0;
}
.btn-tab.show-mobile {
	margin: 0;
	width: 100%;
	margin-bottom: 30px;
}
.recipes {
	padding-top: 10px;
}
.item-step__number {
	left: 0;
}
.line-dots {
display: none;
}
.btn-cloud::after {
	position: absolute;
	display: block;
	content: " ";
	width: 47px;
	height: 115px;
top: -73px;
    left: 53px;
	background-image: url(../img/line_mobile_choose.svg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}
.line-dots img {
	display: none;
}
.icon-constructor img {
	width: 290px;
}
.icon-constructor {
	margin-top: 20px;
	justify-content: center;
}
.hidden-mob {
	display: none;
}
.tab-container-step {
    padding-top: 40px;
}
.menu-mobile {
	padding: 0 15px;
	padding-bottom: 40px;
	position: absolute;
	box-shadow: 0 15px 10px #4b4b4b45;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: 140px;
	background: #2D68AE;
	max-width: 306px;
	border-radius: 10px;
	display: none;
}
.body_menu .wrapper::before {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	height: 100%;
	z-index: 500;
	background-color: rgba(0, 0, 0, 0.8);
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.menu-mobile__list > li {
	margin-bottom: 20px;
	display: block;
}
.header {
	z-index: 802;
	background-image: none;
}
.header::before {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	    background-image: url(../img/bg_header.png);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: 2;
    background-position: center top;
}
.menu-mobile__list > li > a {
	font-size: 18px;
line-height: 30px;
color: #fff;
position: relative;
font-family: "LatoBold";
-webkit-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s;
	display: block;
}
.menu-mobile .choose-btn {
	display: block;
	margin-top: 30px;
	position: relative;
	top: 0;
	left: 0;
	animation: none;
}
.menu-mobile .choose-btn::after {
	display: block;
}
.mobile-dropdown__title {
	font-size: 18px;
	margin-top: 10px;
line-height: 30px;
color: #FFFFFF;
font-family: "LatoBold";
}
.mobile-dropdown__tags {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.mobile-dropdown__tags li {
	margin-top: 10px;
	margin-right: 14px;
}
.mobile-dropdown__tags li a {
	padding: 10px 10px;
	text-align: center;
	font-size: 12px;
	display: inline-block;
line-height: 20px;
color: #fff;
	border: 2px solid rgba(255, 255, 255, 0.2);
border-radius: 10px;
}
.mobile-dropdown {
	display: none;
}
.menu-mobile li.menu-mobile__haschild > a {
	background-image: url(../img/arrow_dropdown.svg);
	background-repeat: no-repeat;
	background-position: center  right 35px;
}
.card-img > img {
	width: 300px;
}
.col_film {
	-webkit-order: -1;
	-moz-order: -1;
	-ms-order: -1;
	-o-order: -1;
	order: -1;
}
.recept-film {
	width: 290px;
	height: 400px;
	    padding: 0 45px;
	    margin: 0 auto;
	    margin-bottom: 85px;
}
.recept-film .btn-cloud {
	bottom: -70px;
	top: auto;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.title-section_recept {
	display: none;
}
.container_recept {
	padding-top: 0;
}
.recept .title-section {
	padding-bottom: 40px;
}
.recept-left__image img {
	max-width: 125px;
}
.recept__descr {
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 20px;
    }
    .recept-value {
    	width: 60px;
    	font-size: 9px;
    	line-height: 8px;
    	    border-radius: 13px;
    }
    .recept-value__icon img {
    	max-width: 22px;
    	height: auto;
    }
    .recept-value__icon {
    height: 40px;
}
.consist-block li {
	padding-left: 0;
	margin-bottom: 19px;
}
.consist-block li::before {
	display: none;
}
.consist-block {
    font-size: 14px;
    padding: 60px 70px;
    margin: 0 -40px;
   	margin-top: 40px;
    padding-bottom: 20px;
    }
    .recept-value-wrap {
    	margin-top: 23px;
    }
    .steps {
    padding-top: 65px;
    padding-bottom:20px;
}
.item-step__right {
	padding-left: 15px;
	padding-bottom: 0;
}
.slider-steps {
	padding-bottom: 92px;
}
.slider-steps .title-section {
	padding: 20px 0;
}
.slider-steps .slick-arrow {
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.slider-steps .slick-prev {
	left: -100px;
}
.slider-steps .slick-next {
	right: -100px;
}
.slider-steps__image {
	height: 240px;
}
.row_buttons-constructor {
	padding: 0;
	margin: 0 -5px;
}
.row_buttons-constructor > div {
	padding: 0 5px;
}
.constructor-main__name {
	font-size: 12px;
	line-height: 15px;
	padding-bottom: 10px;
}
.constructor-main__title {
    font-size: 28px;
    line-height: 30px;
    padding: 20px 0;
    }
    .btn-main {
    	font-size: 12px;
    	line-height: 15px;
    	height: 60px;
    }
    .btn-main_width {
    	padding-left: 10px;
    	padding-right: 10px;
    }

    .shelf {
    	width: 100%;
    	justify-content: center;
    	padding-right: 0;
    }
    .shelf::after {
    	width: 320px;
    	left: -26px;
    	right: 0;
    	top: 94%;
    	margin: auto;
    }
    .shelf__item,
    .shelf__item img {
    width: 81px;
    height: 132px;
}
.shelf__item::before {
	width: 89px;
	height: 136px;
	top: -4px;
}
.shelf-icon_1 {
	display: none;
}
.shelf-icon_2 {
	width: 57px;
	height: 97px;
bottom: -101px;
    left: 240px;
   right: 0;
   margin: 0 auto;
}
.constructor-main_center {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
}
.dots-list,
.constructor-main__name {
	-webkit-order: -1;
	-moz-order: -1;
	-ms-order: -1;
	-o-order: -1;
	order: -1;
}
.dots-list {
	margin-top: 0;
}

.constructor-main {
    padding-bottom: 145px;
}
.shelf-wrap {
	margin: 0 -15px;
	padding: 0 15px;
	padding-top: 40px;
	background-image: url(../img/back2.png);
	background-repeat: no-repeat;
	background-position: center top;
}
.title-section_center {
	padding-bottom: 40px;
}
.news .btns-tabs {
	margin: 0;
	flex-wrap: wrap;
	justify-content: space-between;
}
.news .btn-tab {
	width: 48%;
	margin: 0; 
	margin-bottom: 10px;
	padding: 0;
	height: 70px;		
	font-size: 14px;
line-height: 17px;
}
.articles-wrap::before {
	display: none;
}
.hidden_mob {
	display: none;
}
.articles-wrap {
	padding: 0;
	margin-top: 40px;
}
.item-article__date {
	padding-top: 10px;
}
.item-article {
	margin-bottom: 30px;
}
.row_articles > div:nth-child(even) {
	padding-left: 15px;
}
.item-article,
.col-lg-6 .col-lg-6 .item-article {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	width: 320px;
}
.news {
	padding-bottom: 0;
}
.news + .constructor {
	padding-top: 20px;
}
.news-detale {
	padding-top: 15px;
	padding-bottom: 0;
}
.news-detale .title-section_center {
	text-align: left;
	padding-bottom: 20px;
}
.main-text {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 20px;
}
.soft-month {
	display: none;
}
.eating-slider__img {
	max-width: 100%;
	margin-bottom: 104px;
	height: 272px !important;
}
.eating-slider {
	margin-left: 0;
	margin-right: 0;
}
.slick-slide:not(.slick-current) .eatig-slider-text {
	opacity: 1;
}
.slick-slide:not(.slick-current) .eating-slider__img img {
    opacity:1;
    transform: none;
}
.eating-slider:after,
.eating-slider:before {
	display: none;
}
.eating-slider .slick-arrow {
	top: 340px;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.eating-slider .slick-prev {
	left: -100px;
}
.eating-slider .slick-next {
	right: -100px;
}
.eatig-slider-text {
	padding-top: 0;
}
.eating-slider {
	margin-top: 0;
	padding-top: 20px;
	margin-bottom: 40px;
}
.block-buyer {
	text-align: center;
}
.buyer-descr {
	margin-top: 20px;
	font-size: 24px;
line-height: 30px;
}
.descr-text {
	font-size: 14px;
	line-height: 20px;
}
.data-wrapper__title::after,
.data-wrapper__left .data-wrapper__title::after {
    position: absolute;
    display: block;
    content: " ";
    right: -24px;
    width: 16px;
    bottom: -1px;
   height: 1px;
   background-color: #fff;
}
.data-wrapper__title::before,
.data-wrapper__right .data-wrapper__title::after {
    position: absolute;
    display: block;
    content: " ";
    left: -24px;
    width: 16px;
    bottom: -1px;
   height: 1px;
   background-color: #fff;
}
.data-wrapper__title::after {
	right: -24px !important;
	left: auto !important;
}
.data-wrapper__left .data-wrapper__title::before {
	height: 1px;
	bottom: -1px;
}
.data-wrapper__title {
	border-width: 1px;
}
.data-wrapper__right .data-wrapper__title::before {
	height: 1px;
	bottom: -1px;
}
.data-wrapper__right > div {
	padding-left: 0;
}
.data-wrapper__title {
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.data-wrapper .row .data-wrapper__text {
	font-size: 14px;
	line-height: 20px;
	padding: 0;
	margin: 0 -25px;
	margin-bottom: 40px;
}
.data-wrapper__bottom {
	display: none;
}
.data {
	padding-bottom: 0px;
}
.data-wrapper__title span {
	margin-left: -25px;
	display: block;
}
.data .title-section {
	text-align: center;
	padding-bottom: 5px;
}
.eatig-slider-text br {
	display: none;
}
.list-items li {
	font-size: 14px;
	line-height: 15px;
	margin-bottom: 15px;
}
.list-items li:before {
	top: -8px;
}
.news-detale .list-items_numbers {
	margin-top: 15px;
}
.btn-cloud_simple::after {
	display: none;
}
.back-detale {
	padding-top: 20px;
}
.item-form__descr {
    font-size: 12px;
    line-height: 14px;
    top: 18px;
    left: 21px;
    }
    .item-form select {
    	font-size: 18px;
    	line-height: 22px;
    	padding-left: 21px;
    	border-radius: 22px;
    }
    .irs-from, .irs-to, .irs-single {
    	font-size: 12px !important;
    }
    .irs--flat .irs-min, .irs--flat .irs-max {
    	display: none;
    }
    .wrap-range {
    	margin-top: 25px;
    	margin-bottom: 45px;
    }
    .jq-selectbox__select-text {
    	background-position: center right 18px;
    }
    .jq-selectbox__select-text {
    	padding-left: 20px;
    	font-size: 18px;
    line-height: 22px;
    padding-top: 40px;
    padding-bottom: 15px;
    }
    .recepts-list .item-form {
    	margin-bottom: 10px;
    }
    .title-min {
    	font-size: 16px;
    }
    .text-page {
    	font-size: 14px;
    	line-height: 20px;
    }
    .slider-history {
    	margin: 0 -15px;
    	margin-top: 40px;
    }
    .item-history__image img {
    	height: 218px;
    }
    .item-history__image img {
    height: 218px;
    width: auto;
    max-width: inherit;
    position: relative;
    right: 10px;
}
.item-history__image {
	height: 353px;
	-webkit-background-size: auto 100%;
	background-size: auto 100%;
	overflow: hidden;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}
.item-history .text-page {
	padding: 0 15px;
}
.slick-current .item-year {
	font-size: 40px;
	line-height: 48px;
}
.item-year {
	font-size: 14px;
	line-height: 17px;
}
.slider-years .slick-arrow {
	width: 19px;
	height: 32px;
	bottom: 0;
}
.slider-years {
	max-width: 250px;
	margin: 0 auto;
	margin-top: 30px;
}
.item-year {
	padding-top: 8px;
	margin-left: 25px;
	margin-right: 25px;
	height: 80px;
}
.slider-years::before {
	max-width: 90%;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.item-year::before {
	width: 19px;
	height: 19px;
	    top: -21px;
}
.item-year::after {
	width: 21px;
	height: 29px;
	top: -26px;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.slider-years .slick-arrow {
	bottom: 60px;
}
.slider-years .slick-prev {
	left: -24px;
	right: auto;
}
.slider-years .slick-next {
	right: -24px;
	left: auto;
}
.health__right .health__image {
	float: right;
	width: 150px;
	height: 305px;
	position: relative;
}
.health .title-section {
	padding-top: 45px;
	padding-bottom: 20px;
}
.health__right .health__image img {
	min-width: 250px;
	width: 250px;
	max-width: inherit;
	position: absolute;
	right: -10px;
	bottom: 0;
}
.health {
	padding-top: 40px;
	padding-bottom: 30px;
}
.card-img {
	max-width: 340px;
}
.constructor-main {
	padding-bottom: 100px;
}
   .row_buttons-constructor + .constructor-main__name {
	margin-top: 10px;
}
.row_articles > .col-lg-3,
.row_articles > div {
	max-width: 50%;
	width: 50%;
}
.col_left-auto {
	margin-left: 0;
}
.shelf-wrap_right {
	display: none;
}
    .shelf-wrap {
    	display: none;
    }
    .shelf {
    	margin: 0;
    }
    
    .constructor-main {
    	padding-bottom: 145px;
    }
    .shelf-wrap_mobile {
    	display: block;
    }
    .show-tablet {
    	display: block;
    }
.tabs-catalog {
	padding-bottom: 70px;
}
.row_contact-tabs {
	margin-top: 40px;
}
.brands-block {
	margin: 0 auto;
	margin-bottom: 30px;
}
.always .title-section {
	padding-top: 40px;
	padding-bottom: 20px;
}
.slider-steps__item {
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.wrap-recipes {
	margin: 0;
}
.item-choise {
	max-width: 240px;
	margin: 0 auto;
	position: relative;
}
.choice-img img {
	width: 200px;
}
.btn-cloud_constructor {
    top: 173px;
    left: -74px;
}
.choice-img {
    margin-bottom: 60px;
}
.title-section_choise::after {
	display: none;
}
.title-section_choise {
	padding: 0;
	text-align: center;
	padding-bottom: 30px;
}
.choice-text {
	max-width: 100%;
}
.links-choise {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 20px;
}
.choice-items {
	margin: 0;
}
.constructor-final {
    padding-bottom: 90px;
}
.item-choise .choice-items {
	margin-bottom: 15px;
	margin-left: 35px;
}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	 .consist-block::after,
    .recept-left::after {
    	display: none;
    }
.shelf-wrap_mobile .shelf__item:nth-child(n+6) {
	display: none;
}
 .shelf__item {
 	margin: 0 10px;
 }
 .row_articles > .col-lg-3, .row_articles > div {
 	max-width: 100%;
 	width: 100%;
 }
.basket-btns {
	display: none;
}
.tab-container-contacts {
	padding-top: 0;
}
.brand-link {
	margin: 0;
	margin-top: 30px;
	display: inline-block;
}
.btn-tab-mob img {
	margin-right: 20px;
}
.btn-tab-mob {
	padding: 0 0px;
	height: 80px;
	margin-right: 20px;
	border-radius: 20px;
	border: 4px solid #245b9d;
	max-width: 100%;
	margin: 0;
	margin-top: 40px;
	margin-bottom: 20px;
	color: #ecf5ff;
	font-size: 22px;
	line-height: 30px;
	font-family: "PFREMINDERPRO-BOLD";
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
	position: relative;
	z-index: 1;
}
.btn-tab-mob::after {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	bottom: 0;
	margin: auto;
	right: -12px;
	width: 20px;
	height: 20px;
	background-color: #245b9d;
	border: 6px #2c67ae solid;
	border-radius: 50%;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.btn-tab-mob::before {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	bottom: 0;
	margin: auto;
	left: -12px;
	width: 20px;
	height: 20px;
	background-color: #245b9d;
	border: 6px #2c67ae solid;
	border-radius: 50%;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.btn-tab-mob.active {
	background-color: #245b9d;
}
.btn-tab-mob.active::before,
.btn-tab-mob.active::after {
	opacity: 1;
}
.brands-block {
	margin-bottom: 10px;
}
.hidden_mobile {
	display: none;
}
.contacts .list-items {
	margin-top: 40px;
}
.always-form textarea,
.always-form input {
	padding-left: 58px;
	font-size: 14px;
	line-height: 20px;
}
.always-form:before {
	left: 20px;
}
.always-form-text {
	font-size: 14px;
	line-height: 20px;
}
.always-img {
	display: none;
}
.locations-wrap {
	margin-top: 0;
	height: auto;
	max-width: 100%;
}
.locatation-name {
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 2px;
}
.location-address {
	font-size: 14px;
	line-height: 20px;
}
.map-wrap__before,
.map-wrap__after {
	display: none;
}
.map-wrap {
	margin: 0 -20px;
	margin-top: 10px;
	width: auto;
}
.location {
	padding-top: 10px;
	padding-bottom: 80px;
}
.contacts .list-items li {
	font-size: 14px;
	line-height: 20px;
}
.map-wrap::after {
	width: 600px;
	left: -180px;
	right: 0;
	margin: 0 auto;
}
.contacts .list-items {
    margin-top: 34px;
}
.brands-block {
	height: 110px;
	padding: 20px;
}
.tab-container-contacts .tab-pane-step > .row {
	margin: 0 -10px;
}
.tab-container-contacts .tab-pane-step > .row > div {
	padding: 0 5px;
}
.row_contact-tabs {
	margin: 0;
}
.buy-text {
	margin-bottom: 0;
}
.contacts .title-section {
	padding-bottom: 20px;
}
.tab-pane-step {
	margin: 0 -15px;
	padding: 0 20px;
}
.always .title-section {
	padding-top: 20px;
}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
.feature-catalog {
    margin-right: 14px;
}
.tabs-catalog li a {
    width: 136px;
    height: 80px;
    padding: 0 15px;
    font-size: 17px;
    line-height: 22px;
    }
    .tabs-catalog li {
    margin: 0 4px;
}
.constructor .title-section br {
	display: none;
}
.constructor .title-section {
	max-width: 290px;
}
.links-choise {
	display: block;
	padding-left: 15px;
	padding-top: 20px;
}
.item-choise {
	margin-bottom: 60px;
}
.choice-subtitle {
	margin-bottom: 20px;
}
.choice-link {
	font-size: 16px;
	padding-bottom: 0;
}
.btn-cloud_constructor {
    width: 208px;
    height: 160px;
    margin-top: 0;
        padding-top: 54px;
            top: 234px;
    left: -46px;
    }
    .constructor-final {
    padding-bottom: 40px;
}
}
@media only screen and (max-width : 350px) {
.btn-cloud_constructor {
	left: -32px;
}
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

@media only screen and (max-width : 992px) and (min-width : 768px) {
.footer__nav {
    margin-top: 15px;
}
.news .btn-tab {
	font-size: 18px;
}
.recept-left__table-block {
	max-width: 100%;
	padding-left: 0;
	padding-right: 15px;
	padding-top: 15px;
}
.recept__descr {
	padding-bottom: 0;
}
.col_film {
	-webkit-order: inherit;
	-moz-order: inherit;
	-ms-order: inherit;
	-o-order: inherit;
	order: inherit;
}
.consist-block {
    font-size: 14px;
    padding: 65px 41px;
    margin: 0 -50px;
    margin-top: 40px;
    min-height: 342px;
    padding-bottom: 20px;
}
    .consist-block li {
    padding-left: 0;
    margin-bottom: 10px;
}
.shelf::after {
    width: 100%;
    height: 65px;
    left: -26px;
    right: 0;
    top: 99%;
    }
    .shelf-icon_2 {
    left: 538px;
}
.shelf-wrap {
	background-image: url(../img/back2.png);
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-background-size:500px auto;
    background-size:500px auto;
}
.footer__politics {
	position: static;
}
.footer__copy {
    margin-top: 94px;
}
.recept-left::after {
    width: 21px;
    height: 21px;
    left: 80%;
}
.consist-block::after {
    width: 19px;
    height: 10px;
    left: 96%;
    top: 155px;
    }
    .recept__descr {
    	padding-bottom: 15px;
    }
    .basket-btns a {
    	padding-left: 15px;
    }
    .contacts .list-items li {
    	line-height: 21px;
    }
    .always-img img {
    max-width: 251px;
}
.always-form textarea, .always-form input {
	padding-left: 60px;
}
.always-form:before {
	left: 25px;
}
.locations-wrap {
	max-width: 100%;
	height: auto;
	margin-bottom: 30px;
}
}
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.show_mobile,
.btn-tab-mob {
	display: none !important;
}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.shelf-wrap_mobile,
	.card-features,
	.btn-menu,
	.menu-mobile,
	.show-mobile,
.logo-mobile {
	display: none !important;
}
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
.container {
    max-width: 1300px;
}
.show-tablet {
	display: none !important;
}
.footer__nav li:nth-child(n+4) {
	padding-left: 30px;
}
}
@media only screen and (min-width : 1700px) {
.shelf-wrap {
	left: -50px;
}
.shelf-wrap_right {
	left: 50px;
}
}